@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url(sol0.jpg);
    background-color: #abbee9; 
}

.navbar {
    background-color: #ffae42; 
    overflow: hidden;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.navbar a {
    color: #ffffff; /* cor de fonte branca */
    text-decoration: none;
    margin: 0 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #ffcb6b; 
}

.active {
    background-color: #ffcb6b;
}

.container-sobre {
    height: 100vh;
    background-image: url(sol0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
}

.sobre {
    margin: auto;
    text-align: center;
}

.sobre h1 {
    font-family: 'Sigmar', cursive;
    font-size: 65px;
}

.sobre h3 {
    font-family: 'Satisfy', cursive;
    font-size: 35px;
}

.container-imagem {
    height: 60vh;
    background-color: #ffcb6b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem img {
    margin-top: 200px;
    width: 850px;
    height: 835px;
    margin-bottom: 300px;
}

.container-hist {
    height: 70vh;
    background-color: #abbee9;
    display: grid;
}

.hist p {
    margin: 70px;
    margin-top: 90px;
    margin-right: 315px;
    margin-left: 315px;
    text-align: center;
    font-size: 35px;
    color: black;
    border: 5px solid black;
    border-radius: 5px;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right-color: #000;
    padding: 6px;
}

.container-happy {
    height: 60vh;
    background-color: #abbee9;
    display: grid;
}

.happy img {
    width: 850px;
    height: 540px;
    margin-left: 0px;
    float: right;
}

.happy p {
    font-family: 'Satisfy', cursive;
    font-size: 50px;
    margin: 190px;
    margin-right: 900px;
    padding-top: 0px;
    text-align: center;
    border: 5px solid black;
    border-radius: 5px;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
